<h3 class="bg-primary p-1 text-white">Onboarding Users</h3>
<div class="my-1 col-7">
  <input class="form-control" #userName/>
  <select class="form-control" #userDivision>
    <option [value]="division" *ngFor="let division of getDivisions();">
    {{ division }}
    </option>
  </select>
  <button class="btn btn-primary mt-1" (click)="addUser(userName.value, userDivision.value)">
    Add
  </button>
</div>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Division</th>
    <th>Birthday</th>
    <th>Location</th>
    <th colspan="2">Activate</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of getUsers(); let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.division }}</td>
    <td>{{ user.birthday }}</td>
    <td>{{ user.location }}</td>
    <td><input type="checkbox" [(ngModel)]="user.status"/></td>
    <td [ngSwitch]="user.status">
      <span *ngSwitchCase="true">Yes</span>
      <span *ngSwitchDefault>No</span>
    </td>
  </tr>
  </tbody>
</table>
